:root {
  --variable-collection-gray-1: rgba(82, 81, 79, 1);
  --variable-collection-black: rgba(45, 45, 45, 1);
  --variable-collection-white: rgba(255, 254, 251, 1);
  --variable-collection-gray-2: rgba(143, 143, 143, 1);
}
