/*------------------------------- RESET -----------------------------------*/

/* Resetting margins and padding for all tags */
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

/* Avoiding issues with images */
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
}

/* Set "a" tags as blocks */
a {
  display: block;
}

/* Resetting the style of "li" tags */
li {
  list-style-type: none;
}

html {
  scroll-behavior: smooth;
}

/* Turn off the default styles for the main text tags */
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* The cursor pointer is active for the "a" and "button" tags */
a, button {
  cursor: pointer;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: transparent;
  display: block;
  color: inherit;
}

/* Resetting the tables */
table, tr, td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fixing issues with SVGs */
svg {
  display: block;
}

/* Setting the typography for the website */
body {
  position: relative;
  min-height: 100vh;
  font-family: var(--primary-font);
  font-size: 100%;
  color: var(--secondary-text);
}

/* Setting the text that is selected */
::selection {
  background-color: var(--primary-text);
  color: var(--secondary-background);
}














