/* Custom Properties */
:root {
  --xsm-text: 0.5em;    /* 8pt */
  --sm-text: 0.75em;    /* 12pt */
  --md-text: 1em;       /* 16pt */
  --lg-text: 1.125em;   /* 18pt */
  --xlg-text: 1.5em;    /* 24pt */

  --H1-mobile: 2.75em;  /* 44pt */
  --H2-mobile: 2.5em;   /* 40pt */
  --H3-mobile: 2.25em;  /* 36pt */
  --H4-mobile: 1.75em;  /* 28pt */
  --H5-mobile: 1.5em;   /* 24pt */
  --H6-mobile: 1.125em; /* 18pt */

  --H1-desktop: 4em;     /* 64pt */
  --H2-desktop: 3.5em;   /* 56pt */
  --H3-desktop: 3em;     /* 48pt */
  --H4-desktop: 2.5em;   /* 40pt */
  --H5-desktop: 2em;     /* 32pt */
  --H6-desktop: 1.5em;   /* 24pt */


  --primary-color: #FF7676;
  --secondary-color: #30CBE3;
  --tertiary-color: #6FD6E8;
  --quaternary-color: #FF8F8F;

  --border: #AFAFAF;

  --primary-text: #2F3135;
  --secondary-text: #3F4144;

  --primary-background: #F7F9FF;
  --secondary-background: #E4E4EA;
  --tertiary--backgorund: #CBCCD4;

  --primary-font: "Futura PT-Demi", Helvetica;
  --secondary-font: "League Spartan", Helvetica;

}