h1 {
  font-family: var(--secondary-font);
  font-weight: 800;
  font-size: var(--H1-mobile);
  color: var(--primary-text);
  text-align: center;
  letter-spacing: 4px;
  white-space: nowrap;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  width: 100vw;
  height: auto;
  background-color: var(--primary-text);
}

.navbar h1 {
  color: var(--primary-background);
}

.logo {
  width: 40px;
}
.logo .square {
  fill: var(--primary-color);
}
.logo .rectangle {
  fill: var(--secondary-color);
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 40px;
  width: 100vw;
}

section h2 {
  font-weight: 600;
  font-size: var(--H2-mobile);
  color: var(--secondary-text);
  text-align: center;
}
section h3 {
  margin-top: 8x;
  font-weight: 600;
  font-size: var(--H3-mobile);
  line-height: 0.9em;
  color: var(--secondary-text);
  text-align: center;
}

@media (min-width: 768px) and (max-width: 1023px) {
  .logo {
    width: 48px;
  }
}

@media (min-width: 1024px) {
  h1 {
      font-size: var(--H1-desktop);
  }
  .logo {
    width: 54px;
  }
  section h2 {
      font-size: var(--H2-desktop);
  }
  section h3 {
      font-size: var(--H3-desktop);
  }
}